In [6]:
# Import libraries
import pandas as pd

# Read in CSV data from URL
url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'

# df = pd.DataFrame(pd.read_csv(url, skipinitialspace=True, parse_dates=['date']))
df[['new_cases','new_deaths']] = df.groupby(['state','county'], as_index=False)[['cases','deaths']].diff().fillna(0)

df

,date,county,state,fips,cases,deaths,new_cases,new_deaths
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,0.0,0.0
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,0.0,0.0
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,0.0,0.0
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,0.0,0.0
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1660666,2021-08-27,Sweetwater,Wyoming,56037.0,5460,49.0,54.0,0.0
1660667,2021-08-27,Teton,Wyoming,56039.0,4356,11.0,27.0,0.0
1660668,2021-08-27,Uinta,Wyoming,56041.0,2914,14.0,41.0,0.0
1660669,2021-08-27,Washakie,Wyoming,56043.0,1016,26.0,3.0,0.0
1660670,2021-08-27,Weston,Wyoming,56045.0,773,6.0,8.0,0.0

In [7]:
df.loc[(df.county=='Wood')&(df.state=='Texas')]

,date,county,state,fips,cases,deaths,new_cases,new_deaths
25841,2020-04-01,Wood,Texas,48499.0,1,0.0,0.0,0.0
28129,2020-04-02,Wood,Texas,48499.0,1,0.0,0.0,0.0
30466,2020-04-03,Wood,Texas,48499.0,1,0.0,0.0,0.0
32864,2020-04-04,Wood,Texas,48499.0,1,0.0,0.0,0.0
35302,2020-04-05,Wood,Texas,48499.0,2,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
1647304,2021-08-23,Wood,Texas,48499.0,4256,137.0,0.0,0.0
1650553,2021-08-24,Wood,Texas,48499.0,4384,139.0,128.0,2.0
1653800,2021-08-25,Wood,Texas,48499.0,4384,141.0,0.0,2.0
1657047,2021-08-26,Wood,Texas,48499.0,4384,142.0,0.0,1.0
1660296,2021-08-27,Wood,Texas,48499.0,4564,145.0,180.0,3.0

In [2]:
df_texas = df.loc[df.state == 'Texas']
df_texas

,date,county,state,fips,cases,deaths,new_cases,new_deaths
143,2020-02-12,Bexar,Texas,48029.0,1,0.0,0.0,0.0
154,2020-02-13,Bexar,Texas,48029.0,2,0.0,1.0,0.0
165,2020-02-14,Bexar,Texas,48029.0,2,0.0,0.0,0.0
176,2020-02-15,Bexar,Texas,48029.0,2,0.0,0.0,0.0
187,2020-02-16,Bexar,Texas,48029.0,2,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1660296,2021-08-27,Wood,Texas,48499.0,4564,145.0,-9385.0,-61.0
1660297,2021-08-27,Yoakum,Texas,48501.0,1017,29.0,13.0,0.0
1660298,2021-08-27,Young,Texas,48503.0,2398,46.0,7.0,0.0
1660299,2021-08-27,Zapata,Texas,48505.0,1981,38.0,1.0,0.0
1660300,2021-08-27,Zavala,Texas,48507.0,2175,47.0,9.0,0.0

In [26]:
# Get county selection
county = 'Travis'

# Conditional to return USA, Texas or individual county data
if county == 'USA':
    selected_df = df.groupby('date')[['cases','deaths','new_cases','new_deaths']]
elif county == 'Texas':
    selected_df = df_texas.groupby('date')[['cases','deaths','new_cases','new_deaths']]
else:
    selected_df = df_texas.loc[df_texas.county==county]

selected_df['rolling_cases'] = selected_df.new_cases.rolling(14).mean() 
selected_df['rolling_death'] = selected_df.new_deaths.rolling(14).mean() 
# output_df = selected_df.dropna(how='any')

output_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,date,county,state,fips,cases,deaths,new_cases,new_deaths,rolling_cases,rolling_death
13819,2020-03-26,Travis,Texas,48453.0,137,0.0,18.0,0.0,9.500000,0.000000
15581,2020-03-27,Travis,Texas,48453.0,160,1.0,23.0,1.0,11.142857,0.071429
17452,2020-03-28,Travis,Texas,48453.0,160,1.0,0.0,0.0,11.142857,0.071429
19410,2020-03-29,Travis,Texas,48453.0,179,1.0,19.0,0.0,12.357143,0.071429
21472,2020-03-30,Travis,Texas,48453.0,206,2.0,27.0,1.0,14.285714,0.142857
...,...,...,...,...,...,...,...,...,...,...
1647281,2021-08-23,Travis,Texas,48453.0,99009,1101.0,0.0,4.0,474.857143,2.642857
1650530,2021-08-24,Travis,Texas,48453.0,99717,1104.0,708.0,3.0,493.642857,2.857143
1653777,2021-08-25,Travis,Texas,48453.0,100341,1108.0,624.0,4.0,496.571429,3.071429
1657024,2021-08-26,Travis,Texas,48453.0,100976,1118.0,635.0,10.0,503.857143,3.642857
1660273,2021-08-27,Travis,Texas,48453.0,101576,1120.0,600.0,2.0,512.571429,3.357143

In [27]:
df.loc[(df.county=='Wood')&(df.state=='Texas')]

,date,county,state,fips,cases,deaths,new_cases,new_deaths
25841,2020-04-01,Wood,Texas,48499.0,1,0.0,-14.0,0.0
28129,2020-04-02,Wood,Texas,48499.0,1,0.0,-17.0,0.0
30466,2020-04-03,Wood,Texas,48499.0,1,0.0,-19.0,0.0
32864,2020-04-04,Wood,Texas,48499.0,1,0.0,-22.0,0.0
35302,2020-04-05,Wood,Texas,48499.0,2,0.0,-27.0,0.0
...,...,...,...,...,...,...,...,...
1647304,2021-08-23,Wood,Texas,48499.0,4256,137.0,-9527.0,-66.0
1650553,2021-08-24,Wood,Texas,48499.0,4384,139.0,-9448.0,-65.0
1653800,2021-08-25,Wood,Texas,48499.0,4384,141.0,-9487.0,-63.0
1657047,2021-08-26,Wood,Texas,48499.0,4384,142.0,-9521.0,-62.0
1660296,2021-08-27,Wood,Texas,48499.0,4564,145.0,-9385.0,-61.0

In [11]:
df.loc[df.new_cases != 0]

,date,county,state,fips,cases,deaths,new_cases,new_deaths
31,2020-01-30,Cook,Illinois,17031.0,2,0.0,1.0,0.0
50,2020-02-02,Santa Clara,California,6085.0,2,0.0,1.0,0.0
154,2020-02-13,Bexar,Texas,48029.0,2,0.0,1.0,0.0
235,2020-02-20,Douglas,Nebraska,31055.0,11,0.0,1.0,0.0
250,2020-02-21,Bexar,Texas,48029.0,4,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...
1660666,2021-08-27,Sweetwater,Wyoming,56037.0,5460,49.0,54.0,0.0
1660667,2021-08-27,Teton,Wyoming,56039.0,4356,11.0,3778.0,5.0
1660668,2021-08-27,Uinta,Wyoming,56041.0,2914,14.0,41.0,0.0
1660669,2021-08-27,Washakie,Wyoming,56043.0,1016,26.0,3.0,0.0
1660670,2021-08-27,Weston,Wyoming,56045.0,773,6.0,8.0,0.0